aiohttp==3.10.10
albumentations==1.4.12
altair==5.4.1
attrs==23.1.0
beautifulsoup4==4.12.2
blinker==1.8.2
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==2.0.4
click==8.1.7
cloudpickle==3.1.0
contourpy==1.1.1
cryptography==41.0.3
cycler==0.12.1
databricks-sdk==0.36.0
datasets==3.1.0
Deprecated==1.2.14
docker==7.1.0
easyocr==1.7.2
ensemble-boxes==1.0.9
filelock==3.15.4
Flask==3.0.3
fonttools==4.53.1
frozenlist==1.5.0
fsspec==2024.6.1
gitdb==4.0.11
GitPython==3.1.43
google-api-core==2.22.0
google-api-python-client==2.149.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
graphene==3.4.1
greenlet==3.1.1
gunicorn==23.0.0
httplib2==0.22.0
huggingface-hub==0.26.2
idna==3.4
ImageHash==4.3.1
imageio==2.35.0
importlib_metadata==8.4.0
ipykernel==6.29.5
ipython==8.15.0
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.23.0
kiwisolver==1.4.5
Markdown==3.7
MarkupSafe==2.1.5
matplotlib==3.7.5
mlflow==2.17.1
more-itertools==8.12.0
multidict==6.1.0
networkx==3.1
numpy==1.24.4
oauthlib==3.2.2
opencv-python==4.10.0.84
packaging==24.1
pandas==2.2.3
pillow==10.4.0
plotly==5.24.1
protobuf==5.28.3
psutil==5.9.0
pydantic==2.8.2
Pygments==2.15.1
pyparsing==3.1.2
python-dateutil==2.9.0
pytz==2023.3.post1
requests==2.32.3
scikit-image==0.21.0
scikit-learn==1.5.2
scipy==1.10.1
seaborn==0.13.2
SQLAlchemy==2.0.36
streamlit==1.39.0
sympy==1.12
tenacity==9.0.0
threadpoolctl==3.5.0
tifffile==2023.7.10
torch==2.1.0
torchaudio==2.1.0
torchvision==0.16.0
tqdm==4.66.5
traitlets==5.7.1
typing_extensions==4.12.2
urllib3==1.26.16
watchdog==5.0.3
Werkzeug==3.0.6
xxhash==3.5.0
yarl==1.17.1
zstandard==0.19.0
